---
import Layout from '../layouts/Layout.astro';
---

<Layout title="훤다 포트폴리오">
  <section class="py-16">
    <div class="text-center">
      <h1 style="font-size: 2rem; font-weight: 800;">훤다 포트폴리오</h1>
      <p style="font-size: 1.5rem">
        포트폴리오 내용은 이후에 추가될 예정입니다.
      </p>
      <span style="font-size: 1.5rem; font-family: var(--font-paperlogy);">
        기본 버튼
      </span>
    </div>
  </section>
</Layout>
