---
import Layout from "../layouts/Layout.astro";
---

<Layout title="황원다 포트폴리오">
  <section class="py-16">
    <div class="text-center">
      <h1 class="text-4xl font-bold mb-4">훤다 포트폴리오</h1>
      <p class="text-xl text-gray-600 dark:text-gray-400">
        포트폴리오 내용은 이후에 추가될 예정입니다.
      </p>
    </div>
  </section>
</Layout>
